# Security Keys
.env

# Local Memory/Logs
shared/incident_state.json
**/__pycache__


# OS files
.DS_Store
Thumbs.db

# n8n runtime storage
n8n_storage/

# local databases
*.sqlite
*.sqlite-shm
*.sqlite-wal

# logs
*.log